/* work sans font added from google font */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,500&display=swap');

/* shared styles */

* {
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0; */
}

.btn-primary {

}

/*header styles*/

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    /* border: 2px solid tomato; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    color: #424242;
}

nav a {
    text-decoration: none;
    color: #424242;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

/* banner styles */

.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-desc {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

